 /*----------------------------------------*/
 
 @import url('https://fonts.googleapis.com/css?family=Montserrat:500');
 html,
 body {
     height: 100%;
     font-family: "Montserrat", sans-serif;
     -webkit-font-smoothing: antialiased;
     background-color: #000000;
 }
 
 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }
 
 main {
     margin-bottom: 20px;
 }
 
 h1,
 h2,
 h3,
 h4,
 h5,
 h6 {
     margin: 0;
     color: #111111;
     font-weight: 400;
     font-family: "Montserrat", sans-serif;
 }
 
 h1 {
     font-size: 70px;
 }
 
 h2 {
     font-size: 36px;
 }
 
 h3 {
     font-size: 30px;
 }
 
 h4 {
     font-size: 24px;
 }
 
 h5 {
     font-size: 18px;
 }
 
 h6 {
     font-size: 16px;
 }
 
 p {
     font-size: 15px;
     font-family: "Montserrat", sans-serif;
     color: #ffffff;
     font-weight: 400;
     line-height: 25px;
     margin: 0 0 15px 0;
 }
 
 img {
     max-width: 100%;
 }
 
 input:focus,
 select:focus,
 button:focus,
 textarea:focus {
     outline: none;
 }
 
 a:hover,
 a:focus {
     text-decoration: none;
     outline: none;
     color: #ffffff;
 }
 
 ul,
 ol {
     padding: 0;
     margin: 0;
 }
 
 header,
 footer {
     height: 10vh;
     background: #000000;
 }
 
 footer {
     border-top: #fffefe 1px solid;
     padding-top: 2%;
 }
 /*---------------------

 /* ------header */
 
 .main {
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     height: 100%;
 }
 
 .logo {
     width: 25%;
     height: 100%;
     display: flex;
     flex-direction: row;
     padding-left: 2%;
     color: #fffefe;
 }
 
 .icon-div {
     width: 25%;
     padding-right: 10%;
     display: flex;
     flex-direction: row;
     justify-content: space-around;
     align-items: stretch;
     align-items: flex-end;
 }
 
 .menu {
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     align-items: flex-end;
     width: 50%;
 }
 
 .logo img {
     width: 30px;
     height: auto;
 }
 
 .logo-text {
     display: flex;
     flex-direction: column;
     justify-content: flex-end;
     transform: translateY(30%);
     margin-left: -10px;
 }
 
 .logo-text h3 {
     font-family: 'Montserrat';
     font-style: normal;
     font-weight: 700;
     font-size: 22px;
     line-height: 27px;
     color: #FFFFFF;
 }
 
 .menu li a {
     color: #ffffff;
     font-family: 'Montserrat';
     font-style: normal;
     font-weight: 700;
     font-size: 16px;
     line-height: 27px;
     text-decoration: none;
 }
 
 .menu.footer li a {
     font-weight: 500;
     color: #F8A5C2;
 }
 
 .trade-mark {
     font-family: 'Roboto';
     font-style: normal;
     font-weight: 400;
     font-size: 16px;
     line-height: 24px;
     /* identical to box height, or 100% */
     text-align: center;
     color: #FFFFFF;
 }
 
 @media screen and (max-width: 1000px) {
     .logo {
         width: 20%;
     }
     .icon-div {
         width: 20%;
     }
     .menu {
         width: 60%;
     }
     .logo-text {
         font-size: 16px;
     }
     .logo img {
         width: 50px;
     }
     .menu li a {
         font-size: 14px;
         font-weight: 500px;
     }
 }
 /* home css */
 
 .overview-section-container {
     width: 90%;
     display: flex;
     flex-direction: row;
     margin: 0 auto;
     padding: 20px;
 }
 
 .overview-left-container {
     width: 45%;
     display: flex;
     flex-direction: column;
     padding: 20px;
 }
 
 .overview-right-container {
     width: 65%;
     display: flex;
     position: relative;
 }
 
 .section-title {
     width: 120px;
     background-color: #F8A5C2;
     color: #FFFFFF;
     padding: 6px 10px;
 }
 
 .company-name {
     font-style: bold;
     font-weight: 700;
     font-size: 60px;
     line-height: 27px;
     color: #FFFFFF;
     margin-top: 20px;
     margin-bottom: 20px;
 }
 
 .slogan {
     margin-top: 20px;
     margin-bottom: 20px;
     display: flex;
     flex-direction: column;
     width: 80%;
     align-self: center;
 }
 
 .slogan-1,
 .slogan-2,
 .slogan-3 {
     color: #FFFFFF;
     font-size: 40px;
     font-weight: 700;
     margin-top: 10px;
 }
 
 .slogan-2 {
     background-color: #F8A5C2;
     padding: 10px;
     width: 50%;
 }
 
 .show-more {
     width: 20%;
     background-color: #F8A5C2;
     color: #FFFFFF;
     padding: 10px;
     font-weight: 600;
     align-self: flex-end;
     cursor: pointer;
 }
 
 .rectangle {
     width: 80%;
     height: 80%;
     position: absolute;
     left: 0%;
     right: 18.47%;
     top: 0%;
     bottom: 20.39%;
     background: #F8A5C2;
 }
 
 .home_img_1 {
     position: absolute;
     left: 9.91%;
     right: 0%;
     top: 7.89%;
     bottom: 0%;
 }
 /* section 2 */
 
 .service-section-container {
     width: 90%;
     display: flex;
     flex-direction: column;
     margin: 0 auto;
     padding: 20px 0;
     align-items: center;
     justify-content: center;
 }
 
 .sub-container-1 {
     width: 100%;
     display: flex;
     flex-direction: row;
     align-items: center;
 }
 
 .service-title {
     font-size: 3rem;
     width: 40%;
     color: #FFFFFF;
     padding: 6px 10px;
 }
 
 .service-title p {
     font-size: 3rem;
     font-weight: 700;
     color: #FFFFFF;
     margin-bottom: 40px;
 }
 
 .sub-container-2 {
     display: flex;
     flex-direction: row;
     width: 100%;
     justify-content: space-between;
     align-items: center;
 }
 
 .item-service {
     width: 30%;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
 }
 
 .center {
     align-items: center;
     display: flex;
     flex-direction: column;
     height: 100%;
     justify-content: center;
 }
 
 .wrapper {
     display: flex;
     grid-gap: 1rem;
     overflow: hidden;
     width: 80%;
 }
 
 .wrapper .inner {
     display: flex;
     grid-gap: 1em;
     transition: all 1s ease-in-out;
 }
 
 .wrapper .inner .card {
     border-radius: 0.5em;
     box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
 }
 
 .card img {
     border-top-right-radius: inherit;
     border-top-left-radius: inherit;
     display: block;
     width: 17.5em;
 }
 
 .card .content {
     background-color: #F8A5C2;
     border-bottom-right-radius: inherit;
     border-bottom-left-radius: inherit;
     padding: 1em;
     text-align: center;
 }
 
 .map {
     margin-top: 1em;
 }
 
 .map button {
     all: unset;
     cursor: pointer;
     margin: 0 0.125em;
     position: relative;
     user-select: none;
     background: #fffefe;
     width: 0.75rem;
     height: 0.75rem;
     border-radius: 50%;
 }
 
 .map button.active::after {
     content: "";
     position: absolute;
     top: 0.25em;
     left: 0.25em;
     width: 0.5em;
     height: 0.5em;
     border-radius: 50%;
     background: #F8A5C2;
 }
 
 .product-section {
     width: 90%;
     display: flex;
     flex-direction: column;
     margin: 0 auto;
     padding: 50px 20px;
 }
 
 .product-section-title {
     font-size: 3rem;
     font-weight: 700;
     width: 40%;
     color: #FFFFFF;
     padding: 6px 10px;
     margin-bottom: 40px;
 }
 
 .fouth-section-container {
     width: 90%;
     height: 100%;
     min-height: 600px;
     display: flex;
     flex-direction: row;
     margin: 0 auto;
     padding: 50px;
     justify-self: center;
 }
 
 .right-4-section-container {
     width: 60%;
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     align-items: center;
     position: relative;
     justify-content: center;
 }
 
 .left-4-section-container {
     width: 40%;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
 }
 
 .section4-title {
     font-size: 2rem;
     font-weight: 700;
     color: #FFFFFF;
     padding: 6px 10px;
     margin-bottom: 40px;
     line-height: normal;
 }
 
 .btn-contact {
     width: 20%;
     background-color: #F8A5C2;
     color: #FFFFFF;
     padding: 10px;
     font-weight: 600;
     align-self: flex-end;
     cursor: pointer;
 }
 
 .contact-img-1 {
     position: absolute;
     left: 180px;
     width: 400px;
     height: 300px;
     border-radius: 20px;
 }
 
 .contact-img-2 {
     position: absolute;
     left: 50px;
     top: 150px;
     width: 400px;
     height: 300px;
     border-radius: 20px;
 }
 
 .img-3 {
     position: absolute;
     left: 30px;
     top: 120px;
 }
 
 .img-4 {
     position: absolute;
     left: 230px;
     top: 170px;
 }
 /* Term */
 
 .section-term,
 .section-contact {
     width: 100%;
     display: flex;
     align-items: center;
     flex-direction: column;
     background-color: #fffefe;
     flex-wrap: wrap;
 }
 
 .term-background {
     width: 100%;
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: row;
 }
 
 #rec15 {
     position: relative;
     width: 30%;
     height: auto;
     left: 20%;
 }
 
 #rec16 {
     position: relative;
     width: 40%;
     height: auto;
     left: 0%;
 }
 
 .section-term div span {
     font-size: 3rem;
     font-weight: 700;
     color: #000000;
     position: relative;
     left: -40%;
 }
 
 .term-container {
     display: grid;
     gap: 50px;
     grid-template-columns: repeat(4, 1fr);
     padding: 0 20px;
 }
 
 .term-item {
     text-align: center;
 }
 
 .term-item button {
     font-size: 2rem;
     font-weight: 700;
     color: #000000;
     margin-bottom: 20px;
     border: none;
     background-color: #fffefe;
     cursor: pointer;
 }
 
 .term-item button:hover {
     color: #F8A5C2;
     font-size: 2.3rem;
 }
 
 .term-item p {
     font-size: 1rem;
     font-weight: 100;
     color: #000000;
     text-align: justify;
 }
 
 .contact-container {
     display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: center;
     width: 100%;
     height: 100%;
     padding: 50px 0;
 }
 
 .contact-left {
     width: 40%;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     padding: 50px;
     background-color: #000;
     color: #fff;
     border-radius: 25px;
 }
 
 .contact-left h2 {
     font-family: 'Montserrat';
     font-style: normal;
     font-weight: 600;
     font-size: 33.3733px;
     line-height: 41px;
     /* identical to box height */
     color: #F8A5C2;
     margin-bottom: 20px;
 }
 
 .contact-info table tr td {
     padding-left: 10px;
 }
 
 .contact-right {
     width: 60%;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     color: #000;
 }
 
 .contact-right form p {
     font-family: 'Montserrat';
     font-style: normal;
     color: #000;
     font-weight: 600;
     font-size: 1.5rem;
 }
 
 .contact-right form input[type=text],
 input[type=email],
 input[type=tel] {
     width: 100%;
     height: 50px;
     border: none;
     border-bottom: 1px solid #000;
     margin-bottom: 20px;
 }
 
 .contact-right form input[type=checkbox] {
     width: 20px;
     height: 20px;
     border: 1px solid #000;
     margin-bottom: 20px;
     display: inline;
 }
 
 .checkbox-option {
     display: flex;
     flex-direction: row;
 }